.product {
    display: inline-block;
    padding: 1rem;
    cursor: pointer !important;
    img {
        margin: auto;
        width: 80%;
        height: auto;
    }

    &:hover {
        box-shadow: inset 2px 2px 15px 7px #aaaaaa;
    }
}

.detalles {
    margin-top: 1rem !important;
    img {
        margin: auto;
        width: 60%;
        height: auto;
    }
}

.muestrario {
    margin-top: 1rem !important;
}