.rowMio {
    display: flex;
    width: 90%;
    margin: auto;

    .product {
        display: inline-block;
        width: 250px;
        margin: 1rem;
        border: 1px solid black;
        height: 400px;
        cursor: pointer !important;
        img {
            width: 200px;
            height: 200px;
        }

        &:hover {
            box-shadow: inset 2px 2px 15px 7px #AAAAAA;
        }
    }

    .detalles {
        width: 60%;
        margin: auto;
        img{
            width: 400px;
            height: 400px;
        }
    }
}
